body {
 font: 16px/28px arial;
 background-color:#eaeaea;
 background-image: url(backround\ css.jpg);
 color: #333;
}

.countener {
width: 800px;
margin: auto;
background-color: #fff;   
}

.header{
 padding: 20px;   
}

.header .judul{
 font-size: 40px;
 font-weight: bold;
}

.header ul li{
    display: inline-block;
    margin-top:20px;
    margin-right:5px;
}

.header a{
    text-decoration: none;
    color: salmon;
    padding: 3px;
}

.header a:hover{
    background-color: skyblue;
    color: white;
}

.hero{
    height: 280px;
    background-image: url(gambar\ laptop.jpg);
    background-size: cover;
    background-position: 0 -50px;
    border-bottom: 5px solid skyblue;
    border-top: 5px solid salmon;
}

.content{
    padding: 20px;
}

.content h2{
    font: size 28px;
    font-weight: bold;
}

.content.penulis a{
     color: salmon;
     text-decoration: none;
}

.content p{
    margin-bottom: 20px;
    font-size: 14px   
}

.footer {
    background-color: #333;
    padding: 10px;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}