body {
    font: 60px/20px;
    background-color:#eaeaea;
    background-image: url(background\ ps\ .png);
    color: #333;
    
   }
   
   .countener {
   width: 800px;
   margin: auto;
   background-color: #eaeaea;   
   }
   
   .header{
    padding:20px;
    text-align: center;   
   }
   
   .header .judul{
    font-size: 40px;
    font-weight: bold;
   }

   .header ul li{
       display: inline-block;
       margin-top:20px;
       margin: right 50px;
       margin: auto;
    
    }
   
   .header a{
       text-decoration: none;
       color: salmon;
       padding: 3px;
       
   }
   
   .header a:hover{
       background-color: skyblue;
       color: white;
   }

   .hiro{
    margin-left: 10px;
   }
   
   .hero{
       height: 280px;
       background-image: url(playstation-logo.jpg);
       background-size: cover;
       background-position: 2px;
       border-bottom: 5px solid skyblue;
       border-top: 5px solid rgb(255, 0, 0);
   }
   
   .content{
       padding: 10px;
   }
   
   .content h3{
    font-size: 30;
    font-weight: bold;
    margin-top: 50;
    margin-bottom: auto;

   }
   
   .content.penulis a{
        color: salmon;
        text-decoration: none;
   }
   
   .content p{
       margin-bottom: 20px;
       font-size: 20px   
   }
   .pembuat{
    height: 400px;
    background-image: url(Ken-Kutaragi.jpg);
    background-size: cover;
    background-position: 6%;
    border-bottom: 5px solid rgb(10, 44, 237);
    border-top: 5px solid rgb(0, 76, 255);

   }
   
   .footer {
       background-color: #333;
       padding: 10px;
   }
   
   .footer .copy {
       color: #eaeaea;
       text-align: center;
       font-size: 12px;
   }

