body{
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    color: darkblue;
    text-align: center;
}
h4{
    font-style: italic;
    text-align: center;
} 
p{
    color: rgb(10, 10, 10);
    text-align: center;
    }
    .merah{
        color: black;
        text-align:right;
    }
a{
    color: white;
}
.L{
    color: salmon;
    
}
.T:hover{
    color: blueviolet;
}
a:hover{
    color: blue;
}
h3{
    text-align: center;
}